.top-area {
    // display: grid;
    padding: 2px;
    // grid-template-columns: fit-content(100%) minmax(260px, 1fr);
    // grid-gap: 2px 2px;
    // grid-auto-rows: minmax(100px, auto);
    margin-bottom:50px;
    background-color: #222;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);

    .sticky-item{
        border: 3px solid rgba(0,0,0,0.1);
        position: relative;
        float:left;

        img{
            max-width: 100%;
            min-height: 100%;
            min-width: 100%;
            height: auto;
        }

        &:nth-child(1){
            height:350px; 
            overflow:hidden;  
            width: 66.666666%;

            .post-info{
                width: 30%;
                left: 0;
                padding: 20px;
                top: 0;
                background: rgba(0,0,0,0.8);
                height: 100%;

                h2{
                    color: #FFF;
                    font-size: 40px;
                    line-height: 1.2;
                }
            }
        }
        
        &:nth-child(2), &:nth-child(3), &:nth-child(4){
            height:350px; 
            overflow:hidden;   
        }

        &:nth-child(3), &:nth-child(4){
            width:50%;  
        }

        &:nth-child(2){
           width: 33.333%
        }

        .post-info{
            position: absolute;
            width: 100%;
            bottom: 0;
            right: 0;
            background-color: rgba(0,0,0,0.8);
            padding: 20px; 

            .post-tags{
                font-weight: bold;
            }

            .the-author{
                color: #FFF;

                span{
                    color: #FFF;
                    font-weight: normal;
                }
            }
            
            h2{
                width: 100%;
                color: #FFF;
                line-height: 1.2;
            }
        }

    }
}

#main-content .container::before{
    background-color: #FFF;
}


#left-area{
    article{
        margin-bottom:0;

        &:nth-child(2n+2){
            .article-inner{
                & > a{
                    float:left;
                    margin-right: 20px;
                }
            }    
        }

        .post-meta{
            font-weight: bold;
            
            .vcard{
                color: #000;
            }    
        } 

        .post-info{
            & > a{
                background-color: #cd5c5c;
                padding: 7px 16px;
                color: #FFF;
                margin-top: 20px;
                display: inline-block;

                -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
                box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
            }
        }

        .article-inner{
            padding-bottom:30px;

            & > a{
                float:right;
                width:40%;
            }

            .post-info{
                width: calc(60% - 20px);
                float: left;
            }
        }

        .spacer{
            width: 200px;
            height:1px;
            background-color: rgba(0,0,0,0.5);
            margin: 0 auto 60px
        }
    }
}

.et_header_style_split .centered-inline-logo-wrap{
    height: 74px;
    width: 94px !important;

    #logo{
        max-height:100%;
    }
}

#main-content .container{
    padding-top: 20px;
}

.et_right_sidebar #main-content .container::before{
    content: unset;
}

.et-fixed-header#main-header{
    background-color: #222 !important;
}

#et-top-navigation{
    float:left;
}